<div class="card">
    <div class="card__inner">
        <app-bage class="card__bage" [bage]="product?.bage"></app-bage>
        <figure class="card__gallery">
            <img [src]="image"
                 [alt]="product?.title" class="card__gallery-image" >
        </figure>
        <div class="card__content">
            <div class="card__color-options">
                <app-color-option [color]="product?.colors?.black?.color || 'white'" (click)="changeImage(product?.colors?.black?.image)"></app-color-option>
                <app-color-option [color]="product?.colors?.white?.color || 'white'" (click)="changeImage(product?.colors?.white?.image)"></app-color-option>
                <app-color-option [color]="product?.colors?.red?.color || 'white'"   (click)="changeImage(product?.colors?.red?.image)"></app-color-option>
            </div>
            <div class="card__company">{{product?.company}}</div>
            <div class="card__title">{{product?.title}}</div>

            <div class="card__rates">
                <app-rates [rating]="product?.rating?.value || 0"></app-rates>
                <div class="card__reviews">{{product?.rating?.reviews}} reviews</div>
            </div>
            <app-price [price]="product?.price"></app-price>

            <div class="card__actions">
                <app-button-icon [active]="isFavorite" (click)="toggleFavorite()"></app-button-icon>
                <app-button></app-button>
            </div>
            <app-delivery-option [options]="product?.deliveryOptions"></app-delivery-option>
        </div>
    </div>
</div>