:host {
    display: block;
    margin-right: 5px;
}

button {
    all: unset;
    cursor: pointer;
    border: 1px solid #c6cacc;
    font: 600 14px/20px Inter, sans-serif;
    color: #333;
    padding: 7px 16px;
    display: block;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
    transition: all .3s ease-in;
    font-size: 20px;

    &:hover {
       border: 1px solid #1a73e8;
       background-color: #1a73e8;
       color: #fff;
       transition: all .15s ease-in;
    }
}

.button_active {
    color: red;
}